aiohttp==3.6.3; python_full_version >= "3.5.3"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
discord.py==1.5.0; python_full_version >= "3.5.3"
idna-ssl==1.1.0; python_version < "3.7"
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" and python_version < "3.7" or python_full_version >= "3.4.0" and python_version < "3.7"
multidict==4.7.6; python_version >= "3.5"
pytz==2020.1
requests==2.24.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
soupsieve==2.0.1; python_version >= "3.5"
typing-extensions==3.7.4.3; python_version < "3.7"
urllib3==1.25.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
yarl==1.5.1; python_version >= "3.5"
